
body {
    background-color: #DFF6FF;
    }

.profilePic {
 width: 90%;
 }

hr  {
    border-top: 5px dotted grey;
    width : 2%;
    }


h1  {
    color: #06283D;
    }
h3  {
    color: #06283D;
    }
