<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<form action="{{ url_for('delete_book') }}" method="post">
    <h1>My Library</h1>
    {% if not books %}
        <p>List is empty.</p>
    {% endif %}
    <ul>
        {% for i in books %}
        <li> <a href=" {{ url_for('delete_book', delete_id=i.id) }} " >Delete</a> {{ i['title'] }}-{{ i['author'] }}-{{ i['rating'] }} <a href="{{ url_for('edit', book_id=i.id) }}">Edit Rating</a> </li>
        {% endfor %}
    </ul>


    <a href="{{ url_for('add') }}">Add New Book</a>

</form>

</body>
</html>