body{
  padding: 3% 7%;
  background-color: #DEBACE;
}

p{
  display:inline-block;
}

.choose-body{
  margin-bottom: 3%;
}
.image{
  width: 60%;
  padding: 3% 0 ;
}

.box{
  height: 30px;
  width: 130px;
  display:inline-block;
}

.beside{
  display: inline-block;
}
.table-left{
  margin-left: 0;
}
