.top {
background-color: #E4F9F5;
}

.middle{
background-color: red;
height:200px;
width:200px;
}
.bottom{
background-color: blue;
height:200px;
width:200px;
}
.intro{
margin-top: 0px;
margin-bottom: 0px;
}

.personelimg{
width: 80%;
}

hr{
border-top: 3px dotted grey;
width: 2%;
}