#title{
background-color: #ff4c68;
color:#fff;
}

h1{
 font-family: 'Montserrat-Black', sans-serif;
 font-size:3.5rem;
 line-height:1.5;
 font-weight: 900;
}

h2{
 font-family: 'Montserrat-Black', sans-serif;
 font-weight:bold;
 font-size:3.5rem;
 line-height:1.5;
 }

body{
font-family:'Montserrat-Black', sans-serif;
}

.container-fluid{
padding: 3% 15%;
}

.navbar{
padding:0 0 4.5rem;
}

.navbar-brand
{
font-family:"Ubuntu";
font-size:2.5rem;
font-weight:bold;
}
.nav-item{
padding:0 18px;
}
.nav-link{
font-size:1.2rem;
font-family:'Montserrat-Black', sans-serif;
}

.btn{
margin: 5% 3% 5% 0;
}

.title-image{
width: 60%;
transform: rotate(25deg);
}

#features
{
padding: 7% 15%;
text-align:center;

}

.headthree{
font-family:'Montserrat-Black', sans-serif;
font-weight:bold;
font-size:1.5rem;
}

.bottomheads
{
color:#8f8f8f;
}

.icon{
color:#ef8172;
margin-bottom:15px;
}

.icon:hover{
color:#ff4c68
}

#testimonials{
padding:7% 15%;
text-align:center;
background-color:#ef8172;
color:#fff
}

.dogs_pics{
width:10%;
border-radius: 100%;
margin:20px;
}

#press{
background-color:#ef8172;
text-align:center;
padding-bottom:3%;
}

.press-logo{
width:15%;
margin: 20px 20px;
}

.carousel-item{
padding:7% 12%;
}

#pricing{
padding: 100px;
}

.pricing-column{
padding:3% 2% 2%;
text-align:center;
}